/* General Styles */
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100%;
}

.navbar {
  display: flex;
  justify-content: flex-start;
  padding: 10px 20px;
  background-color: #333;
  color: white;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
}

.registration-form-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.registration-form-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  justify-content: space-between;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: 48%;
}

.phone-input{
  display: flex;
  align-items: center;
}
.country-codes{
  display: flex;
  font-size: 14px;
  padding: 1.4rem 1rem;
  width: 30%;
  border: 0px;
  background: none;
  cursor: pointer;
}

.phone-container{
  display: inline;
  
  font-family: PremierSans-Regular, Arial, "Helvetica Neue", Helvetica, "sans-serif";
  font-size: 16px;
  width: 50%;
  box-sizing: border-box;
  background-color: rgb(232, 232, 232);
}
.phone-container input{
  height: 30px;

  border-radius: 4px;
  border: 1px solid #ccc;
}

.form-group label {
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input,
.form-group select,
.form-group textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submit-button {
  background-color: #28a745;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 10px;
}

.submit-button:hover {
  background-color: #218838;
}

/* Responsive Design */
@media (max-width: 768px) {
  .form-row {
    flex-direction: column;
  }

  .form-group {
    width: 100%;
  }
}
